{% extends 'base.html' %} {% block container %}
<div class="home_container">
  <h1 class="title1">Hello, my name is</h1>
  <h1 class="title2">Lokesh n s</h1>
  <h1 class="title3">I'm a <span>Cloud DevOps Engineer</span></h1>
  <div class="icons_list">
    <a href="https://github.com/lokesh-ns" class="list git">
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/lokesh-n-s-a89a39169/"
      class="list linkedin"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/LOKESH_N_S" class="list twitter">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>
</div>
{% endblock container %}
