{% extends 'base.html' %} 

{% block container %}
<div class="skill_container">
  <div class="skill_title">My <span>skills</span></div>
  <div class="skill_content">
    <div class="skill_content_left">
      <div class="item">
        <div class="item_info">
          <span>HTML</span>
          <span>90%</span>
        </div>
        <div class="item_line">
          <progress value="90" max="100"></progress>
        </div>
      </div>
      <div class="item">
        <div class="item_info">
          <span>CSS</span>
          <span>80%</span>
        </div>
        <div class="item_line">
          <progress value="80" max="100"></progress>
        </div>
      </div>
      <div class="item">
        <div class="item_info">
          <span>javascript</span>
          <span>70%</span>
        </div>
        <div class="item_line">
          <progress value="70" max="100"></progress>
        </div>
      </div>
      <div class="item">
        <div class="item_info">
          <span>bootstrap</span>
          <span>80%</span>
        </div>
        <div class="item_line">
          <progress value="80" max="100"></progress>
        </div>
      </div>
      <div class="item">
        <div class="item_info">
          <span>python</span>
          <span>90%</span>
        </div>
        <div class="item_line">
          <progress value="90" max="100"></progress>
        </div>
      </div>
      <div class="item">
        <div class="item_info">
          <span>django</span>
          <span>90%</span>
        </div>
        <div class="item_line">
          <progress value="90" max="100"></progress>
        </div>
      </div>
    </div>
    <div class="skill_content_right">
      <div class="item">
        <div class="item_info">
          <span>mySQL</span>
          <span>90%</span>
        </div>
        <div class="item_line">
          <progress value="90" max="100"></progress>
        </div>
      </div>
      <div class="item">
        <div class="item_info">
          <span>postgreSQL</span>
          <span>90%</span>
        </div>
        <div class="item_line">
          <progress value="90" max="100"></progress>
        </div>
      </div>
      <div class="item">
        <div class="item_info">
          <span>git and github</span>
          <span>90%</span>
        </div>
        <div class="item_line">
          <progress value="90" max="100"></progress>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock container %}
